<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="gr.scify.icsee" />
    </queries>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:name=".ICSeeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/icsee_logo"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ICSeeSettingsActivity"
            android:exported="false"
            android:label="@string/menu_settings">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.scify.icsee.ICSeeStartActivity" />
        </activity>
        <activity
            android:name=".ICSeeRealtimeActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ICSeeStartActivity"
            android:exported="true"
            android:label="ICSee"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="filter_view_http_icsee">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="gr.scify.icsee"
                    android:scheme="https" />
                <data
                    android:host="gr.scify.icsee"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageViewerActivity"
            android:label="@string/title_activity_image_edit"
            android:screenOrientation="landscape" />
    </application>

</manifest>